<% include head %>  

<h1> Forgot Password </h1><br>
      <% if (message != null) { %>
        	<div class="alert-danger"><%= message %></div>
        <% } %>

<form action="/forgot" method="post">
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email">
    </div>
    <div>
       <input type="submit" class="form-control" value="Reset Password" />
    </div>
</form>